* {
    box-sizing: border-box;
    margin: 0px;
}

.background {
    width: 1024px;
    height: 600px;
    background-color: bisque;
    padding: 20px 0px 0px 20px;
}

.outer-box {
    width: 808px;
    height: 544px;
    background-color: tomato;
}